.container {
    background: #574e4e;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    margin: 0;
    padding: 0px 0 50px 0;


}

.title {
    color: beige;
    font-size: 60px;
    margin-bottom: 30px;
}

.title img {
    height: 50px;
    padding: 10px 10px 0px 10px ;
    margin: 0;
}

.board {
    display: flex;
    height: 600px;
    width: 560px;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    background: rgb(27, 161, 27);
    border: solid rgb(92, 57, 57) 3px;
    height: 180px;
    width: 180px;
    margin: 4px;
    border-radius: 10px;

}

.boxes img {
    height: 70px;
    margin: auto;
}

.boxes-a {
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.9);
  border: 2px solid rgb(140, 218, 136);
  transform: scale(1.02);
  margin-bottom: 6px;
}


.reset {
    margin-top: 10px;
    size: 70px;
    color:#574e4e;
    background-color:beige;
    height: 50px;
    width: 160px;
    font-size: 30px;
    border: none;
    border-radius: 5%;
}